# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter / Quarto
.ipynb_checkpoints/
.quarto/

# Microsoft Excel temp lock files
~$*.xlsx
~$*.xls

# OS temporary files
Thumbs.db
Desktop.ini
.DS_Store
